<div class="navbar w-nav" data-animation="default" data-collapse="medium" data-contain="1" data-duration="400">
    <div class="w-container"><a class="w-nav-brand" href="index.html"><h1 class="logo">WEBSITE<strong>CRUSHER</strong></h1></a>
      <nav class="w-nav-menu" role="navigation"><a class="nav-link w-nav-link" href="#">About</a><a class="nav-link w-nav-link" href="#contact">Contact</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="hero section">
    <div class="container w-container">
      <h1>Website standards have changed.</h1>
      <h1 class="hero-h1"><strong>Does your site pass the 2017 standard test?</strong></h1>
      <h3>Only 1 in 20 websites pass.* Get a detailed report on what to fix.</h3>
      <div class="sign-up-form w-form">
        <form class="w-clearfix" data-name="Signup Form" data-redirect="/your-results" method="post" name="wf-form-signup-form" redirect="/your-results">
          <input autofocus="autofocus" class="field first w-input" id="field" maxlength="256" name="field" placeholder="Enter your website..." required="required" type="text">
          <input class="button w-button" data-wait="Please wait..." type="submit" value="Test My Site!">
        </form>
        <div class="success-message w-form-done">
          <p>Thanks! You'll be the first to know.</p>
          <p class="spread-word">Help spread the word!</p>
          <div class="social-widget-wrapper w-clearfix">
            <div class="social-widget w-widget w-widget-twitter">
              <iframe src="https://platform.twitter.com/widgets/tweet_button.html#url=http%3A%2F%2Fwebflow.com&amp;counturl=webflow.com&amp;text=Check%20out%20this%20site&amp;count=horizontal&amp;size=m&amp;dnt=true" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 62px; height: 21px;"></iframe>
              <div class="w-widget-twitter-count-shim">
                <div class="w-widget-twitter-count-inner">...</div>
              </div>
            </div>
            <div class="social-widget w-widget w-widget-facebook">
              <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffacebook.com%2Fwebflow&amp;layout=button_count&amp;locale=en_US&amp;action=like&amp;show_faces=false&amp;share=false" scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 90px; height: 20px;"></iframe>
            </div>
          </div>
        </div>
        <div class="error-message w-form-fail">
          <p>Oops! Something went wrong while submitting the form. :(</p>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile-section" data-ix="move-bg">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-7">
          <h1 class="hero-h1">The Rise of Mobile Devices is Crushing Websites</h1>
          <p>Most websites today weren't designed with the mobile user in mind. Because of this, business owners are missing out on new customers everyday and practically handing them to competition that have a mobile optimized site.</p>
        </div>
        <div class="w-col w-col-5"><img sizes="(max-width: 479px) 92vw, (max-width: 767px) 380px, (max-width: 991px) 291.65625px, 380px" src="images/iphone-white-mockup.png" srcset="images/iphone-white-mockup-p-500x332.png 500w, images/iphone-white-mockup-p-800x531.png 800w, images/iphone-white-mockup-p-1080x717.png 1080w, images/iphone-white-mockup-p-1600x1062.png 1600w, images/iphone-white-mockup.png 1909w" width="380">
        </div>
      </div>
    </div>
  </div>
  <div class="social-section" id="contact">
    <div class="w-container">
      <h2>Contact Website Crusher</h2>
      <p class="white">Call or text us at
        <br><strong data-new-link="true" class="phone">1 (555) 555-5555</strong>
        <br> or fill in the contact form below.</p>
      <div class="w-form">
        <form class="contact-form w-clearfix" data-name="Email Form" id="email-form" name="email-form">
          <input class="first text-field w-input" data-name="Name" id="name" maxlength="256" name="name" placeholder="Enter your name" type="text">
          <input class="last text-field w-input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Enter your email address" required="required" type="email">
          <textarea class="w-input" data-name="Message" id="Message" maxlength="5000" name="Message" placeholder="Enter your message..." required="required"></textarea>
          <input class="submit w-button" data-wait="Please wait..." type="submit" value="Send the Message!">
        </form>
        <div class="w-form-done">
          <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
          <p>Oops! Something went wrong while submitting the form</p>
        </div>
      </div>
    </div>
  </div>
