<!DOCTYPE html>
<html data-wf-page="589cb39879d3f178699dc503" data-wf-site="589cb39879d3f178699dc501">
  <head>
    <title>Web Design Lead Generation</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
  	<meta content="width=device-width, initial-scale=1" name="viewport">
  	<meta content="Webflow" name="generator">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Montserrat:400,700","Oswald:300,400,700","Roboto:300,regular","Roboto Condensed:regular"]
      }
    });
  </script>
  <link href="https://y7v4p6k4.ssl.hwcdn.net/placeholder/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
